.ui.pointing.secondary.menu {
    box-shadow: none !important;
    flex-wrap: wrap !important;
    background-color: #f5f5f5;
}

.ui.pointing.secondary.menu .item {
   font-size: 1.5em!important;

}


.ui.pointing.secondary.menu .item:hover {
    color: rgb(44, 199, 62) !important;
}

