.ui.tiny.menu {
    flex-wrap: wrap !important;
}

.ui.tiny.menu .item {
    text-transform: capitalize !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    font-family: "Open Sans", sans-serif !important;

}

.ui.tiny.top.fixed.eight.item.menu .item:hover {
    background-color: rgba(0,0,0,0.6) !important;
    color: #ffffff;

}

.ui.pointing.secondary.menu{
    background-color: #f5f5f5;

}
.ui.pointing.secondary.menu .item:hover {

    color: rgb(44, 199, 62) !important;
}

