
.SubNav {
    float: left;
    overflow: hidden;
}

/* SubNav button */
.SubNav .SubNavBtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Add a red background color to navigation links on hover */
.SubNav:hover .SubNavBtn {
    background-color: red;
}

/* Style the SubNav content - positioned absolute */
.SubNavContent {
    display: none;
    position: absolute;
    left: 0;
    background-color: red;
    width: 100%;
    z-index: 1;
}

/* Style the SubNav links */
.SubNavContent a {
    float: left;
    color: white;
    text-decoration: none;
}

/* Add a grey background color on hover */
.SubNavContent a:hover {
    background-color: #eee;
    color: black;
}

/* When you move the mouse over the SubNav container, open the SubNav content */
.SubNav:hover .SubNavContent {
    display: block;
}
