.segment {
    padding: 30px 2.5% !important;
    margin-bottom: 30px !important;
}



.content {
    padding: 3em 0 0 0;
    position: relative;
    margin-bottom: 30px;
}

.segmentClass {
    position: relative;
    text-align: left;
    background-image: url('../../assets/home/home.png');
    color: #ffffff;
    height: 70vh;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.9;
    background-size: cover;
    background-color: #464646;
    background-repeat: no-repeat;
}

@media only  screen and (max-width: 767px) {
    .segmentClass {
        background-image: url('../../assets/home/imange.png');
        opacity: 0.9;
        text-align: center;
        height: 60vh;


    }
}

.segment .h1 {
    font-family: Merriweather, serif;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0 5px 0;
    font-weight: normal;
}

.segment p {
    font-size: 1em !important;
    line-height: 1.4 !important;
    margin: 10px 0 !important;
    white-space: pre-wrap !important;
}

