.segment {
    padding: 2em 2.5% !important;
    margin-bottom: 60px !important;
    background-color: #f6f6f6 !important;
}

.segmentYellow {
    padding: 1.5em 2.5% !important;
    margin-bottom: 60px !important;
    background-color: #f4f43f !important;
}

.header {
    text-transform: capitalize;
    color: #a55d1e;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;

}

.welcomeHeader {
    font-size: 2em;
    text-transform: uppercase;
    color: #111;
    font-family: 'Merriweather', sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 1.5;
}


.myp {
    font-size: 1.5em !important;
}


.content {
    padding: 3em 0 0 0;
    position: relative;
    margin-bottom: 30px;
}

.segmentClass {
    position: relative;
    text-align: left;
    background-image: url('../../assets/home/home.png');
    color: #ffffff;
    height: 80vh;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.7;
    background-size: cover;
    background-color: #464646;
    background-repeat: no-repeat;
}

@media only  screen and (max-width: 767px) {
    .segmentClass {
        background-image: url('../../assets/home/imange.png');
        opacity: 0.9;
        text-align: center;
        height: 60vh;


    }
}

.segment .h1 {
    font-family: Merriweather, serif;
    font-size: 24px;
    line-height: 28px;
    margin: 10px 0 5px 0;
    font-weight: normal;
}

.segment p {
    font-size: 1em !important;
    line-height: 1.4 !important;
    margin: 10px 0 !important;
    white-space: pre-wrap !important;
}

