.TopBar {
    background: linear-gradient(45deg, #57cfb0, #2ab5d3)!important;
    border: none !important;
    box-shadow: none !important;
}

.TopBar .ui.grid > .row {
    padding: 0.5em !important;;
}

@media only screen  and (max-width: 767px) {
    .TopBar {
      display: none;
    }

}