.navImage {
    background-image: url('../../../assets/home/imange.png') !important;
    height: 70vh;
    background-position: center;
    opacity: 0.9;
    background-size: cover;
    background-repeat: no-repeat;
}

.navImage .header {
    font-size: 3em;
    color: #ffffff;
    line-height: 65px;
    text-transform: uppercase;
    padding: 4em 0;

}


.navImage:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .navImage {
        height: 30vh;
    }

}

@media screen and (max-width: 500px) {
    .navImage .header {
        font-size: 1.5em;
        line-height: 40px;
        padding: 2em 0;


    }
}
