html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0 !important;
    padding: 0 0 0 0 !important;
    color: #000 !important;
    font: 16px "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    line-height: 28px !important;
    text-shadow: 0 0 1px transparent !important;
    background: #efefef url(assets/gray_jean.png) !important;
}
.p {
    font-size: 1em !important;
    line-height: 1.4 !important;
    margin: 10px 0 !important;
    white-space: pre-wrap !important;
}











