
p {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif!important;
    font-size: 15px!important;
}

.ui.header {
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 900!important;
    text-transform: capitalize !important;

}
.ui.secondary.pointing.menu .item {
     font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important}

.ui.inverted.header{
    font-size: 17px;
}


