
.ui.menu .item{
    text-transform: capitalize!important;
}

.nav-image{
    background-image: url(imange.png);
    height: 351px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}