.segment {
    padding: 30px 2.5% !important;
    margin-bottom: 30px !important;
}

.segment .row {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.col {
    padding: 2em !important;
    background-color: #ffffff;
    position: relative;

}

.segment h1 {
    letter-spacing: normal;
    font-family: Merriweather, serif;
    line-height: 40px;
    font-weight: 500;
    text-transform: capitalize;

}

